<template>
	<div>
		<section-content>
			<!-- Main row -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header bg bg-primary">
							<div class="row">
								<div class="col-6">
									<b><i class="bi bi-eye-fill"></i>&nbsp;&nbsp;Formulario Edicion de Empleado</b>
								</div>
								<div class="col-6 text-right text-white">
									<a @click="$router.go(-1)" href="#">
										<b class="text-white"><i class="bi bi-reply-fill"></i> Atrás...</b>
									</a>
								</div>
							</div>
						</div>
						<div class="card-body" id="bodycontent">
							<errors-form :errors="validationForm" />
							<success-message :message="message_success" />
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form @submit.prevent="saveform" id="formContainer"
										class="container border border-4 rounded-lg p-3 elevation-4">
										<head-form :form="form" type="edit" @dni="form.dni = $event"
											@empleado="form.empleado = $event" @cargo="form.cargo = $event"
											@itemjson="form.itemsjson = $event" />
										<div class="row mt-3">
											<div class="col-12 text-center">
												<button class="btn btn-primary"><i class="bi bi-save2-fill"></i>
													Guardar</button>
											</div>
										</div>
									</form>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row (main row) -->
		</section-content>
	</div>
</template>
<script>
import SectionContent from "@/components/SectionContent.vue"
import HeaderTitle from "@/components/HeaderTitle.vue"
import HeadForm from "@/components/empleados/head.vue"
import ErrorsForm from "@/components/ValidationErrors.vue"
import successMessage from '@/components/SuccessMessage.vue';
import Modal from '@/components/Modal.vue';

export default {
	components: {
		SectionContent, HeaderTitle, HeadForm, successMessage, ErrorsForm, Modal
	},
	created() {
		this.init();
	},
	data: function () {
		return {
			form: {
				dni: '',
				empleado: '',
				itemsjson: {
					oficina: { id: 0, name: '-' },
					cargo: { id: 0, name: '-' },
				},
			},

			inputs: [],
			errors: {},
			validationForm: [],
			message_success: '',
			fullPage: false
		}
	},
	methods: {
		async init() {
			try {
				const response = await axios.get(route('empleados.edit', { id: this.$route.params.id }));
				if (response.data === '') {
					this.$router.push({ path: '/empleados' })
				}
				this.form.id = response.data.id;
				this.form.dni = response.data.dni;
				this.form.empleado = response.data.empleado;
				
				if (typeof response.data.itemsjson.cargo === 'object') {
					this.form.itemsjson.cargo.id = response.data.itemsjson.cargo.id;
					this.form.itemsjson.cargo.name = response.data.itemsjson.cargo.name;
				}
				
				if (typeof response.data.itemsjson.oficina === 'object') {
					this.form.itemsjson.oficina.id = response.data.itemsjson.oficina.id;
					this.form.itemsjson.oficina.name = response.data.itemsjson.oficina.name;
				}

			} catch (error) {
				console.error(error);
			}
		},
		loader(elementid) {
			return this.$loading.show({
				// Optional parameters
				container: this.fullPage ? null : document.getElementById(elementid),
				canCancel: false,
				onCancel: this.onCancel,
			});
		},
		resetmessage() {
			let me = this;
			setTimeout(function () { me.message_success = ''; me.validationForm = []; }, 7000);
		},
		clearform() {
			let me = this;
			Object.keys(this.form).forEach(function (key) {
				if (Array.isArray(me.form[key])) {
					me.form[key] = []
				} else {
					me.form[key] = null;
				}
			})
		},

		saveform() {
			let loader = this.loader('formContainer');
			let me = this;
			this.form.inputs = this.inputs

			axios.post(route('empleados.update'), this.form)
				.then(function (response) {
					me.validationForm = ''
					me.message_success = response.data.success;
					setTimeout(function () {
						me.message_success = response.data.success;
						history.back();
					}, 1000);

				})
				.catch(function (error) {
					loader.hide()
					me.validationForm = ''
					if (error.response.status == 422) {
						me.validationForm = error.response.data;
					} else if (error.response.status == 500) {
						alert(error.response.data.message)
					}
				});
		}
	},
	mounted() {

	}
}
</script>
