<template>
	<div>
		<section-content>
		   <visita typevisita="2"/>
		</section-content>
	</div>
</template>
<script>
	import SectionContent from "@/components/SectionContent.vue"
	import Visita from '@/pages/Visitas/Visita.vue';

	import {mapGetters} from 'vuex';
	export default {
		components: {
	      SectionContent,Visita
	    },
	}
</script>